
{{ 'section-hero.css' | asset_url | stylesheet_tag }}

<div  class="hero-container" 
      style="background-image: url({{section.settings.image_bg | img_url: 'Medium' }});
        {%- if section.settings.background_img_style == 'fill' -%}
          background-size:fill;
        {%- elsif section.settings.background_img_style == 'cover' -%}
          background-size:cover;
        {%- endif -%}
      "
>
  {%- for block in section.blocks -%}
  {%- case block.type -%}
  {%- when 'heading' -%}
        <div class="hero-text-container">
        <h4 style="color: {{block.settings.header_color_id}}">
        {{block.settings.rich_text}}
      </h4>
      <h1 style="color: {{block.settings.header_color_id}}">
        {{block.settings.big_text}}
      </h1>
    </div>
      
      {%- when 'text' -%}
              <div 
              style="
              width:100%; 
              display: flex;
              
                {%- if block.settings.textSide == 'left' -%}
                        justify-content: start; 
                {%- elsif block.settings.textSide == 'right' -%} 
                        justify-content: flex-end; 
                {%- endif -%} 
              ">
  
                <div class="hero-side-text" >
                
                  {%- if block.settings.titleType == 'large' -%}
                  <b><h1 style="color: {{block.settings.text_color_id}}; max-width:400px;"><i>{{block.settings.hero_img_header}}</i></h1></b>
                  {%- elsif block.settings.titleType == 'medium' -%} 
                  <b><h2 style="color: {{block.settings.text_color_id}}; max-width:240px;"><i>{{block.settings.hero_img_header}}</i></h2></b>
                  {%- endif -%} 
                  <p style="color: {{block.settings.text_color_id}}; ">
                    {{block.settings.hero_img_text}}
                  </p>
                </div>
              </div>
          {%- endcase -%} 
      {%- endfor -%}   
</div>

{% schema %} 
{ 
    "name": "Hero", 
    "settings": [
        {
            "type": "image_picker",
            "id": "image_bg",
            "label": "Background Image"
        }, 
        {
          
            "type": "select",
            "id": "background_img_style",
            "label": "Background style",
            "options": [
              {
                "value": "fill",
                "label": "Fill"
              },
              {
                "value": "cover",
                "label": "Cover"
              }
            ]
          
        }
      ],
      "presets": [ 
           { "name": "Hero" } 
      ],
      "blocks": [
        {
          "type": "heading",
          "name": "Heading",
          "settings": [
          
                          {
                                "type": "text",
                                "id": "rich_text",
                                "label":"Top Text"
                          },
                          {
                            "type": "text",
                            "id": "big_text",
                            "label":"Big Text"
                          },
                          {
                            "type": "color",
                            "id": "header_color_id",
                            "label": "Text Color",
                            "default": "#333333"
                          
                          }
        
        
          ]
        },
        {
          "type": "text",
          "name": "Sided Text",
          "settings": [
            {
              
              "type": "text",
              "id": "hero_img_header",
              "label": "Header"
            
            },
            {
             
              "type": "select",
              "id": "textSide",
              "label": "Content Side",
              "options": [
                {
                  "value": "left",
                  "label": "Left"
                },
                {
                  "value": "right",
                  "label": "Right"
                }
                ]
            },
            {
                    "type": "select",
                  "id": "titleType",
                  "label": "Title Size",
                  "options": [
                    {
                      "value": "large",
                      "label": "Large"
                    },
                    {
                      "value": "medium",
                      "label": "Medium"
                    }
                  ]
            },
            {
              
                "type": "text",
                "id": "hero_img_text",
                "label": "Text"
              
            },
            {
              "type": "color",
              "id": "text_color_id",
              "label": "Text Color",
              "default": "#333333"
            
            }
          ]
        }
    ] 
    
} 
{% endschema %}
