{{ 'Kimbala-wavy-section.css' | asset_url | stylesheet_tag }}
{{ 'Kimbala-universal-assets.css' | asset_url | stylesheet_tag }}


       
<div class="wavySection"
    {%- if section.settings.outward -%} 
        style="margin-top: -100px;"
        
    {%- endif -%}

    {%- if section.settings.bottomWave -%} 
        style="margin-bottom: -100px;"
    {%- endif -%}
>
    {%- if section.settings.outward -%} 
        <div>
            <svg class="wavyWave" style="display:block;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 126.25"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path style="fill: {{section.settings.wavySectionColor}};" class="cls-1" d="M1920,60.12v66.13H0V60.12s510.38,131.8,968.14,0C1438-75.16,1920,60.12,1920,60.12Z"/></g></g></svg>
        </div>
   {%- endif -%}
  
    <div class="wavyBody" style="position: relative; background-color: {{section.settings.wavySectionColor}}; color: {{section.settings.wavySectionTextColor}};">
        {%- for block in section.blocks -%}
            {%- case block.type -%}

                {%- when 'header' -%}
                    <i><h2 class="wavyTitle" style="color: {{block.settings.header_text_color}}">{{block.settings.section_title}}</h2></i>

                {%- when 'copy' -%}  
                    <p class="single-copy page-width page-width--narrow">
                        {{block.settings.wavy_content_richtext}}
                    </p>  

                {%- when '@app' -%} 
                    {%- render app -%}
                    
                    
                {%- when 'button' -%}  
                <button class="kimbalaButton">
                    <a href="{{ block.settings.button_link }}">
                       {{ block.settings.button_text }}
                    </a>
                </button>   

                {%- when 'description' -%}
                    <div class="fullWavyImgTextPair" style="height: 100%;">
                        <img src={{block.settings.side_img | img_url: 'large'}} />
                        <div class="img-textBlock">
                            <h2>{{block.settings.wavy_title}}</h2>
                            <p>{{block.settings.description}}</p>
                        </div>
                    </div>
                {%- when 'productLink' -%}
                    <div >
                        <div class="WavyImgTextPair">
                            <img src={{block.settings.product.images[0].src | img_url: 'large'}}>
                            <div class="img-textBlock">
                                <h2>{{block.settings.product.title}}</h2>
                                <button class="kimbalaButton">
                                <a href="{{block.settings.product.url}}">Buy it now</a> 
                                </button>
                            </div>
                            
                        </div>
                    </div>

                {%- when 'blog' -%}
                <div class="wavy-blog-container"> 
                    {%- for article in block.settings.wavy_blog.articles limit: 6 -%}
                    
                        <div class="wavy-blog">
                            <a href="{{article.url}}">
                                <img src="{{article.image.src | img_url: 'medium'}}" />
                            </a>
                        <i><h3 style="color: {{section.settings.wavySectionTextColor}};">{{article.title}}</h3></i>
                         {%- if article.excerpt != blank -%}       
                            <p>{{article.excerpt | truncate: 180}}</p>
                            {%- else -%}  
                            <p>{{article.content | truncate: 180}}</p>
                            {%- endif -%}  
                        </div>
                    
                    {%- endfor -%}
                </div>
                  
                {%- when 'page' -%}
                    <p>{{block.page.content}}</p>

                {%- when 'article' -%} 
                
                    <div class="fullWavyImgTextPair" style="height: 100%;">
                        <img src={{block.settings.wavy_article.image.src | img_url: 'large'}} />
                        <div class="img-textBlock">
                            <h2>{{block.settings.wavy_article.title}}</h2>
                            <p>{{block.settings.wavy_article.excerpt | truncate: 180}}</p>
                            <button class="kimbalaButton" >
                               <a href="{{block.settings.wavy_article.url}}"> READ ON >>> </a>
                            </button>
                        </div>
                    </div>
                
                
            {%- endcase -%}
        {%- endfor -%}
        
    </div>
    {%- if section.settings.bottomWave -%}   
        <div>
            <svg style="display:block; " class="wavyWave" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 148.18"><defs></defs><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path style="fill: {{section.settings.wavySectionColor}};" class="cls-1" d="M1920,0V96.32s-510.38-113.69-968.14,0C482,213,0,96.32,0,96.32V0Z"/></g></g></svg>
        </div>
    {%- endif -%}
    
</div>





{% schema %}
{
    "name": "Wavy Section",
    "presets": [{
            "name": "Wavy Section"
        }],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "header",
            "name": "title",
            "settings": [
                {
                    "type": "text",
                    "id": "section_title",
                    "label": "Title",
                    "default": "Title"
                },
                {
                    
                        "type": "color",
                        "id": "header_text_color",
                        "label": "Text Color",
                        "default": "#333"
                   
                }
            ]
       
        },
        {
            "type": "button",
            "name": "Button",
            "settings": [
                {
                    "type": "text",
                    "id": "button_text",
                    "label": "Button Text",
                    "default": "Click Here"
                },
                {        
                    "type": "url",
                    "id": "button_link",
                    "label": "Button Url"
                }
            ]
       
        },
        {
            "type": "copy",
            "name": "Body Copy",
            "settings": [
                {
                    
                        "type": "richtext",
                        "id": "wavy_content_richtext",
                        "label": "Body"
                    
                }
            ]
        },
        {
            "type": "description",
            "name": "Image and Text",
            "settings": [
            {
               
                    "type": "text",
                    "id": "wavy_title",
                    "label": "Title"
            },
                    {
                        "type": "image_picker",
                        "id": "side_img",
                        "label": "Side Image"
                    },
                    {
                        "type": "text",
                        "id": "description",
                        "label": "description"
                    }
                ]
            },
            {
            "type": "productLink",
            "name": "Product Highlight",
            "settings": [
                    {
                        "type": "text",
                        "id": "wavy_title",
                        "label": "Title"
                    },
                    {
                        "type": "product",
                        "id": "product",
                        "label": "Featured Product"

                    }
                    
                ]
            },
            {
                "type": "blog",
                "name": "Blog",
                "settings": [
                    {
                        "type": "blog",
                        "id": "wavy_blog",
                        "label": "Blog"
                    }
                ]
                
            },
            {
                "type": "article",
                "name": "Featured Article",
                "settings": [
                    {
                        
                        "type": "article",
                        "id": "wavy_article",
                        "label": "Featured Article"
                    }
                ]
            },
            {
                "type": "page",
                "name": "Page content",
                "settings": [
                    {
                        "type": "page",
                        "id": "wavy_page",
                        "label": "Page Content"
                        
                        
                    }
                ]
                
            }
        ],
    "settings": [
        {
                "type": "color",
                "id": "wavySectionColor",
                "label": "Color",
                "default": "#ffcccc"
        },
        {
                "type": "checkbox",
                "id": "outward",
                "label": "Wave Outward",
                "default": true
        },
        {
                "type": "checkbox",
                "id": "bottomWave",
                "label": "Bottom Wave",
                "default": false
        },
        {
            "type": "color",
            "id": "wavySectionTextColor",
            "label": "Text Color",
            "default": "#ffcccc"
        }
    ]
}
{% endschema %}