<link rel="stylesheet" href="{{ 'component-rte.css' | asset_url }}" media="print" onload="this.media='all'">
<link rel="stylesheet" href="{{ 'section-main-page.css' | asset_url }}" media="print" onload="this.media='all'">

{{ 'Kimbala-wavy-section.css' | asset_url | stylesheet_tag }}

<noscript>{{ 'component-rte.css' | asset_url | stylesheet_tag }}</noscript>
<noscript>{{ 'section-main-page.css' | asset_url | stylesheet_tag }}</noscript>

<div class="page-width page-width--narrow">
  <h2 class="page-title">
    {%- if section.settings.page.title != blank -%}
      {{ section.settings.page.title | escape }}
    {%- else -%}
      Page title
    {%- endif -%}
  </h2>
  {%- if section.settings.pageSubTitle != blank -%}
    <h3>{{section.settings.pageSubTitle}}</h3>
  {%-  endif  -%}
  <div class="rte">
  <div
    {%- if section.settings.wavePageContent == true -%}
      class="wavySection"
    {%- endif -%}
  >
  {%- if section.settings.wavePageContent == true -%}
        <div>
          <svg class="wavyWave" style="display:block;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1920 126.25"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path style="fill: {{section.settings.wavySectionColor}};" class="cls-1" d="M1920,60.12v66.13H0V60.12s510.38,131.8,968.14,0C1438-75.16,1920,60.12,1920,60.12Z"/></g></g></svg>
      </div>
    {%- endif -%}
    {%- if section.settings.page.content != blank -%}
      {{ section.settings.page.content }}
    {%- else -%}
      <div class='page-placeholder-wrapper placeholder'>
        {{ 'page' | placeholder_svg_tag: 'page-placeholder' }}
      </div>
    {%- endif -%}
  </div>
  </div>
</div>

{% schema %}
{
  "name": "t:sections.page.name",
  "tag": "section",
  "class": "spaced-section",
  "settings": [
    {
      "type": "page",
      "id": "page",
      "label": "t:sections.page.settings.page.label"
    },
    {
        "type": "checkbox",
        "id": "wavePageContent",
        "label": "Wave Content",
        "default": false
      
    },
    {
      
        "type": "text",
        "id": "pageSubTitle",
        "label": "Sub Title"
     
    }
  ],
  "presets": [
    {
      "name": "t:sections.page.presets.name"
    }
  ]
}
{% endschema %}
